
<div [@fadeInAnimation]="'in'" class="dashboard-container">
  <div class="card">
    <h3>Contact Summary</h3>
    <canvas id="summaryChart"></canvas>
  </div>
  <div class="card">
    <h3>Top 5 Designations Of Contacts</h3>
    <canvas id="designationChart"></canvas>
  </div>  
  <div class="card">
    <h3>Contacts Missing Data</h3>
    <canvas id="missingDataChart"></canvas>
  </div>
  <div class="card1">
    <h3>Contacts by Company</h3>
    <canvas id="companyChart"></canvas>
  </div>
</div>
